* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #f5f5f5;
  font-family: "Roboto", sans-serif;
}
.container {
  width: 90%;
  display: flex;
  padding-top: 50px;
}
.left-container,
.right-container {
  flex-basis: 50%;
}
.left-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 0.5fr));
  grid-gap: 2rem;
  padding: 0 1rem;
}
.card {
  width: 280px;
  height: 80px;
  background-color: #f3c703;
  border-radius: 1rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.right-container {
  width: 50%;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 10px;
  text-align: center;
  top: 50px;
}
.right-container img {
  margin: 10px;
  height: 200px;
  width: 200px;
  object-fit: cover;
}
.btn {
  background-color: #f50707;
  border: 2px solid #14f004;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  width : 100%;
}
.btngroup {
  margin: 10px;
  padding: 25px 50px;
  background-color: rgb(9, 41, 248);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  width : 100%;
}
.pokepic {
  object-fit: cover;
}
